html {cursor: url("cursorm.png") , auto;}
    /* The image is from unsplash by David van Dijk */

html:active {cursor: url("cursoralt.png") , auto;}/* Submenú inicialmente oculto */

.submenu {
    display: none;
    list-style-type: none; /* Esto elimina el círculo */
    background-color: #b2d5cd;
    padding: 0px;
    white-space: nowrap ;
    text-align: left;
    position: absolute;
    top: 100%; /* Esto asegura que el submenú aparezca justo debajo del elemento de navegación */
}

.submenu li{ 
    border: 1px solid #CCE3DE;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
	
}


label {
    cursor: pointer;
    font-weight: bold;
}


details summary{
    line-height:0;
}

details {
    line-height:1.2;
    white-space: normal;
    overflow-wrap: break-word;
}

body{
    background-color: #CCE3DE;
}
.navegador{
    margin-top: 0px;
    position: fixed;
    width: 98.5%;
    border-radius: 2px;
    background: #B2D5CD;
    display: flex;
    z-index: 3;
}

.logo{
    width: 20%;
    display: flex;
    height: 48px;
    margin-left: 4px;
    flex-direction: column;
    justify-content: center;
    
    font-family: "Monsieur La Doulaise", serif;
    font-size: 38px;
}

.logo a{
    color: black;
    text-decoration: none;
}
.logo a:hover{
    cursor: url("cursoralt.png") , auto;
}
.nav-menu{
    width:70%;
    display: flex;
    list-style-type: none; /* Elimina el enumerado*/
    color: #3F7368;
    font-family: Inter;
    font-size: medium;
    font-style: normal;
    justify-content: space-around; /* distribuye los elementos uniformemente*/
    
    font-family: Inter;
    font-size: 18px;
}

.nav-menu li{
    margin-left: 22px;
}

.nav-menu a{
    text-decoration: none;
    color: #3F7368;
}

.nav-menu a:hover {
    color: #5EA697;        /*cambia el color al pasar el ratón*/
    cursor: url("cursoralt.png") , auto;
}
@media (max-width: 1000px) {
    .logo{
        margin-top: 35px;
      }
    .nav-menu {
        flex-direction: column; /* Cambia a vertical */
        text-align: left;
        width: 100%;            /* Ocupa todo el ancho */
    }
    
	header{
	    font-size:large;
        margin-top: 10%;
	}
    
    aside{
        margin-top: 10%;
    }
}

#fle{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1%;
}

#cont{
    width: 82.5%;
}

header{
    background: #B2D5CD;
    text-align: center;
    padding: 1%;
}

#header{
    justify-content: center;
    font-family: "Rubik", serif;
    font-size: x-large;
    font-weight:500;
}

#mje{
    color: #620808;
    font-family: "Rubik", serif;
    font-size: medium;
}

aside{
    height: 100%;
    width: 16%;
    right:1%;
    background-color: #B2D5CD;
    text-align: center;
    font-family: "Rubik", serif;
    font-weight: 400;
    position: fixed;
    z-index: 2;
}


#cuerpo{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #b2d5cd;
}

h2{
    font-family: "Rubik", serif;
    font-size: x-large;
    font-weight: 500;
}

h3{
    font-size: medium;
    text-align: center;
    font-family: "Rubik", serif;
}
.h44{
    font-family: "Rubik", serif;
    font-size: medium;
    font-weight: 200;
    text-align: left;
    line-height:1.3;
    white-space: normal;
    overflow-wrap: break-word;
    margin-left: 5%;
    list-style-type: none;
}

.h44::before {
    content: "";  /* Necesario para que el pseudo-elemento se vea */
    display: inline-block;
    width: 20px;  /* Ancho del marcador */
    height: 20px; /* Alto del marcador */
    background-image: url('señaladorlibro.png');
    background-size: cover;  /* Asegura que la imagen se ajuste al tamaño */
    background-repeat: no-repeat;
    margin-right: 10px;  /* Espaciado entre el marcador y el contenido */
    
}

.h44:hover {
    color: #5EA697;        /*cambia el color al pasar el ratón*/
    cursor: url("cursoralt.png") , auto;
}

.unidad1{
    font-family: "Rubik", serif;
    font-size: medium;
    font-weight: 200;
  	list-style-type: none; /*elimina los numerados.*/
	padding: 50;			   /*distanciamiento a la izq.*/
    text-align: left;
}

.unidad1 li{
    margin-left: 3%;       /*Separación entre elementos*/
}

.unidad1 a{
    text-decoration: none; /*elimina la línea debajo*/
    color: #3F7368;
}

.unidad1 a:hover {
    color: #5EA697;        /*cambia el color al pasar el ratón*/
    cursor: url("cursoralt.png") , auto;
}
#txt{
    font-size: medium;
    padding: 8px;
    text-align:left;
}
